:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --header-bg: #f9f7fe;
}
body {
  user-select: none;
  margin: 0;
}

@media (max-width: 768px) {
  body {
    text-align: center;
    max-width: 100%;
  }
  .project-container {
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  header h1 {
    font-size: 44px;
    line-height: 56px;
  }
  .hidden {
    display: none;
  }
  .container,
  row {
    text-align: center;
    padding: 5px;
  }
  header {
    max-width: 100%;
    height: auto;
  }
  .bottom-div {
    margin-right: 0;
  }

  .bottom-div,
  .row {
    flex-direction: column;
    overflow-x: hidden;
  }
  li {
    padding: 10px 0;
  }
}
.logo {
  width: 182px;
  height: 50px;
}
.logo-small {
  width: 50px;
  height: 50px;
}
ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-top: 5px;
}
li {
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
li a {
  text-decoration: none;
  color: black;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
header {
  text-align: center;
  background-color: var(--header-bg);
  padding: 60px;
  height: 900;
  width: 100%;
}
.top-text {
  font-size: 36px;
  font-weight: bold;
  font-family: var(--default-font);
  margin-bottom: 0;
}
h1 {
  font-size: 96px;
  font-family: var(--heading-font);
  margin-top: 5px;
}
.bottom-text {
  font-size: 24px;
  font-family: var(--default-font);
  font-weight: normal;
}
.top-btn {
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--default-font);
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.top-btn:hover {
  background-color: white;
  color: #6c63ff;
}
main {
  text-align: center;
}
.mid-text {
  margin-top: 15px;
  font-size: 18px;
  color: 272142;
}
h2 {
  text-align: left;
  font-size: 64px;
  font-family: var(--heading-font);
  font-weight: bold;
}
.text {
  text-align: left;
}
img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.text {
  font-size: 16px;
  line-height: 30px;
}

.bottom-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--header-bg);
  width: 80%;
  margin-top: 40px;
  padding: 25px;
  border-radius: 8px;
  flex-wrap: wrap;
}
h3 {
  text-align: left;
  margin-right: 300px;
  font-family: var(--heading-font);
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 5px;
}
.light-text {
  font-size: 16px;
  color: #272142;
  font-family: var(--default-font);
  font-weight: normal;
}
button {
  padding: 8px 16px;
  color: #6c63ff;
  font-size: 18px;
  border: 2px solid #6c63ff;
  background-color: white;
  border-radius: 8px;
  font-weight: bold;
}
.email {
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
}
i {
  color: #6c63ff;
  padding: 15px;
  background-color: var(--header-bg);
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}
.about-container {
  padding: 160px 20px;
}
.about-heading {
  font-size: 64px;
  line-height: 80px;
  font-weight: bold;
  font-family: var(--heading-font);
}
.small-header {
  font-size: 18px;
  font-family: var(--default-font);
}
.about-text {
  font-size: 16px;
  font-family: var(--default-font);
  font-weight: normal;
  line-height: 30px;
}
.img-fluid {
  width: 538px;
  height: 558px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  margin-top: 20px;
}
.about-button {
  background-color: #6c63ff;
  color: white;
}
.project-container {
  padding: 140px 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.project-heading {
  font-size: 64px;
  font-family: var(--heading-font);
  font-weight: bold;
  text-align: center;
}
.get-in-touch-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.get-in-touch-container h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font);
}
.get-in-touch-container a {
  color: #0d6efd;
  text-decoration: underline;
}
.get-in-touch-container p {
  font-size: 14px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
